serviceTests/src/test/resources/walkthrough/main.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="FizzBuzz" type="FizzBuzzType"/>

  <xs:complexType name="FizzBuzzType">
    <xs:sequence>
	  <xs:element name="lines" type="xs:int"/>
      <xs:element name="fizzText" type="xs:string"/>
      <xs:element name="buzzText" type="xs:string"/>
      <xs:element name="fizzFrequency" type="xs:int"/>
      <xs:element name="buzzFrequency" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

